USE [master]
GO
/****** Object:  Database [beauty_salon]    Script Date: 10.02.2026 2:09:44 ******/
CREATE DATABASE [beauty_salon]
GO
USE [beauty_salon]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 10.02.2026 2:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[client] [int] NOT NULL,
	[employee] [int] NOT NULL,
	[service] [int] NOT NULL,
	[status] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppointmentStatus]    Script Date: 10.02.2026 2:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AppointmentStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Client]    Script Date: 10.02.2026 2:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[fathersName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10.02.2026 2:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[fathersName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment]    Script Date: 10.02.2026 2:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[appointment] [int] NOT NULL,
	[method] [int] NOT NULL,
	[date] [datetime] NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 10.02.2026 2:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethod] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Service]    Script Date: 10.02.2026 2:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([id], [client], [employee], [service], [status], [date]) VALUES (1, 1, 1, 1, 2, CAST(N'2026-01-02 10:00:00.000' AS DateTime))
INSERT [dbo].[Appointment] ([id], [client], [employee], [service], [status], [date]) VALUES (2, 2, 2, 4, 2, CAST(N'2026-01-02 11:30:00.000' AS DateTime))
INSERT [dbo].[Appointment] ([id], [client], [employee], [service], [status], [date]) VALUES (3, 3, 3, 3, 2, CAST(N'2026-02-02 12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointment] OFF
SET IDENTITY_INSERT [dbo].[AppointmentStatus] ON 

INSERT [dbo].[AppointmentStatus] ([id], [name]) VALUES (1, N'Запланирована')
INSERT [dbo].[AppointmentStatus] ([id], [name]) VALUES (2, N'Завершена')
INSERT [dbo].[AppointmentStatus] ([id], [name]) VALUES (3, N'Отменена')
SET IDENTITY_INSERT [dbo].[AppointmentStatus] OFF
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([id], [firstName], [lastName], [fathersName]) VALUES (1, N'Алина', N'Морозова', N'Олеговна')
INSERT [dbo].[Client] ([id], [firstName], [lastName], [fathersName]) VALUES (2, N'Елена', N'Васильева', N'Ивановна')
INSERT [dbo].[Client] ([id], [firstName], [lastName], [fathersName]) VALUES (3, N'Дарья', N'Фролова', N'Алексеевна')
SET IDENTITY_INSERT [dbo].[Client] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([id], [firstName], [lastName], [fathersName]) VALUES (1, N'Анна', N'Иванова', N'Сергеевна')
INSERT [dbo].[Employee] ([id], [firstName], [lastName], [fathersName]) VALUES (2, N'Мария', N'Петрова', N'Андреевна')
INSERT [dbo].[Employee] ([id], [firstName], [lastName], [fathersName]) VALUES (3, N'Ольга', N'Смирнова', N'Викторовна')
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([id], [appointment], [method], [date]) VALUES (1, 1, 2, CAST(N'2026-01-02 11:00:00.000' AS DateTime))
INSERT [dbo].[Payment] ([id], [appointment], [method], [date]) VALUES (2, 2, 1, CAST(N'2026-01-02 12:30:00.000' AS DateTime))
INSERT [dbo].[Payment] ([id], [appointment], [method], [date]) VALUES (3, 3, 2, CAST(N'2026-02-02 13:30:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment] OFF
SET IDENTITY_INSERT [dbo].[PaymentMethod] ON 

INSERT [dbo].[PaymentMethod] ([id], [name]) VALUES (1, N'Наличные')
INSERT [dbo].[PaymentMethod] ([id], [name]) VALUES (2, N'Банковская карта')
INSERT [dbo].[PaymentMethod] ([id], [name]) VALUES (3, N'Перевод')
SET IDENTITY_INSERT [dbo].[PaymentMethod] OFF
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([id], [name], [price]) VALUES (1, N'Женская стрижка', CAST(1800.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([id], [name], [price]) VALUES (2, N'Мужская стрижка', CAST(1200.00 AS Decimal(10, 2)))
INSERT [dbo].[Service] ([id], [name], [price]) VALUES (3, N'Окрашивание волос', CAST(4500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Service] OFF
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_AppointmentStatus] FOREIGN KEY([status])
REFERENCES [dbo].[AppointmentStatus] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_AppointmentStatus]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Client] FOREIGN KEY([client])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Client]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Employee] FOREIGN KEY([employee])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Employee]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Service] FOREIGN KEY([service])
REFERENCES [dbo].[Service] ([id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Service]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Appointment] FOREIGN KEY([appointment])
REFERENCES [dbo].[Appointment] ([id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Appointment]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod] FOREIGN KEY([method])
REFERENCES [dbo].[PaymentMethod] ([id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentMethod]
GO
USE [master]
GO
